CONFIG_COMPILER_OPTIMIZATION_SIZE=y

# Partition: custom OTA (16MB)
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/n16.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions/n16.csv"
